{:paths ["src/lib"]

 :aliases
 {:build
  {:extra-deps {pack/pack.alpha
                {:git/url "https://github.com/juxt/pack.alpha.git"
                 :sha "a41ae7b7f2381861eea0c937748c1377d463b955"}}
   :main-opts ["-m" "mach.pack.alpha.skinny"
               "--no-libs"
               "--project-path" "target/harpoons.jar"]}

  :deploy
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy"
               "deploy" "target/harpoons.jar"]}

  :test
  {:extra-paths ["src/test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
   :main-opts ["-m" "cognitect.test-runner"
               "--dir" "src/test"
               "--exclude" "ignore"
               "--exclude" "missing"]}

  :1.7 {:override-deps {org.clojure/clojure {:mvn/version "1.7.0"}}}
  :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}

  :dev
  {:extra-paths ["src/dev" "src/test"]
   :extra-deps {criterium {:mvn/version "0.4.5"}
                hiccup {:mvn/version "2.0.0-alpha2"}
                org.clojure/test.check {:mvn/version "0.10.0-alpha4"}}}}}
